{{ form_start(form) }}
{{ form_label(form.username) }}
{{ form_widget(form.username) }}
{{ form_label(form.plainPassword) }}
{{ form_widget(form.plainPassword) }}
{{ form_label(form.email) }}
{{ form_widget(form.email) }}
{{ form_label(form.firstName) }}
{{ form_widget(form.firstName) }}
{{ form_label(form.lastName) }}
{{ form_widget(form.lastName) }}
<div class="file-field input-field">
    <div class="btn">
        <span>File</span>
        {{ form_widget(form.profilePicPath) }}
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>
<div class="row right">
    <button type="submit" id="Login" name="Login" class="btn-floating btn-large"><i class="material-icons">arrow_forward</i></button>
</div>
{{ form_end(form) }}