<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/scss/app.css') }}">
        {% endblock %}
    </head>
    <body>

    {% block navbar %}
        <nav class="deep-orange darken-4">
        <div class="nav-wrapper">
             <a class="brand-logo center" href="{{ path('default_index') }}"><i class="material-icons">camera</i>DelayGram</a>
            {% if is_granted('ROLE_USER') %}
                <a class="btn-floating left btn-large waves-effect show-on-large waves-light deep-orange accent-1 sidenav-trigger" data-target='slide-out' href="#"><i class="material-icons">person</i></a>
            {% else %}

                <a class="btn-floating right btn-large waves-effect waves-light deep-orange accent-3 modal-trigger" data-target="modal1"  href="#modal1"><i class="material-icons">person_add</i></a>
            {% endif %}


        </div>
        </nav>
        <div class="section">

        </div>

        {% if is_granted('ROLE_USER') %}
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
                    <div class="background deep-orange lighten-1">

                    </div>
                    <a href="{{ path('User_Post',{'username': app.user.username }) }}"><img class="circle" src="{{ asset(profile_pic_path ~ app.user.profilePicPath )}}"></a>
                   <a  href="{{ path('User_Post',{'username': app.user.username }) }}"><span class="white-text name">{{ app.user.username }}</span></a>
                    <span class="white-text email">{{ app.user.email }}</span>
                </div></li>


            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="{{ path('User_Post',{'username': app.user.username }) }}"> Your Post<i class="material-icons">arrow_forward</i></a></li>

            <li><div class="divider"></div></li>
            <li> <a class="waves-effect" href="{{ path('security_logout') }}">Logout <i class="material-icons">arrow_forward</i></a></li>

        </ul>
        {% endif %}
    {% endblock %}
        {% block body %}
                <div class="container">
                    <!-- modal 2 button!-->
                    {% if is_granted('ROLE_USER') %}
                    <div class="center-align">
                        <a class="waves-effect orange lighten-1 lighten-3 btn-floating btn-large pulse modal-trigger" data-target="modal2"  href="#modal2"><i class="material-icons">add_circle</i></a>
                    </div>
                        {% for msg in app.flashes('notice') %}
                            <div class="center-align">
                                <div class="card-panel teal lighten-2"><p class="white-text">{{ msg }}</p></div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="section">
                        <div class="row">
                            <div class="col m8 s12 offset-m2">
                                <div class="col m6 s10 offset-m3 offset-s1">

                                    {{ render(controller('App\\Controller\\PostController::Posts')) }}

                                </div>
                            </div>
                        </div>


                    </div>



                </div>



        {% endblock %}

        {% block modal %}
            <!-- modal 1!-->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#login">Login</a></li>
                            <li class="tab col s3"><a href="#register">Register</a></li>
                        </ul>
                    </div>
                    <div id="login" class="col s12">
                        <form class="col s12" action="{{ path('security_login') }}" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Username" id="username" name="_username" type="text" required="required" class="validate">
                                    <label for="first_name">Username</label>
                                </div>
                                <div class="input-field col s12">
                                    <input d="password" name="_password" type="password" class="validate" required="required">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row right">
                                <button id="Login" name="Login" class="btn-floating btn-large"><i class="material-icons">arrow_forward</i></button>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">

                        </form>
                    </div>
                    <div id="register" class="col s12">
                        {{ render(controller('App\\Controller\\RegisterController::register')) }}
                    </div>
                    </div>

                </div>


            <!-- modal 2!-->
            <div id="modal2" class="modal">
                <div class="modal-content">

                    <div class="row">
                        {{ render(controller('App\\Controller\\PostController::PostRegister')) }}
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>

            <script>
                $(document).ready(function () {
                    $('.modal').modal({
                        inDuration: 350,
                        outDuration: 350,
                        opacity: 0.3
                    });
                    $('.carousel.carousel-slider').carousel();
                    $('.tabs').tabs();
                    $('.sidenav').sidenav();


                });
            </script>
        {% endblock %}
    </body>
</html>
