{% for post in posts %}
    <div class="divider"></div>
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">

            <div class="carousel carousel-slider">
                {% for image in post.images %}
                    <a class="carousel-item" href="#{{ image.id }}!"><img src="{{ asset(post_images_path ~ post.user.username ~'/'~ image.imagePath) }}"></a>
                {% endfor %}
            </div>

        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ post.title }}<i class="material-icons right">more_vert</i></span>


        </div>
        <div class="card-reveal">

            <span class="card-title grey-text text-darken-4">{{ post.title }}<i class="material-icons right">close</i></span>
            <p>{{ post.description }}</p>
        </div>
    </div>



{% endfor %}